@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.nav-links {
  text-decoration: none;
  color: inherit;
}

.topHead {
  background: linear-gradient(#c0c0c0, #c0c0c0);
}
